<div class="container-fluid mb-50">
    <div class="row">
      <div class="col-12">
        <div class="headerLine"><span>Dlaczego my</span></div>
      </div>
  </div>
<div class="home-info-text-img">
    <div class="container-fluid">
        <div class="row align-items-center  justify-content-between">
  <div class="col-12 col-md-auto info-item i-1">
  <div>
    <span>2</span>
    <span>lata</span>
    <span>gwarancji</span>
</div>
</div>
  <div class="col-12 col-md-auto info-item i-2">
  <div>
    <span>365</span>
    <span>dni</span>
    <span>na zwrot</span>
</div>
</div>
<div class="col-12 col-md-auto info-item i-3">
  <div>
    <span><img src="/img/pro.png"></span>
    <span>sklep prokonsumencki</span>
</div>
</div>
<div class="col-12 col-md-auto info-item i-4">
  <div>
    <span>200</span>
    <span>tysięcy</span>
    <span>zrealizowanych zamówień</span>
</div>
</div>
<div class="col-12 col-md-auto info-item i-5">
  <div>
    <span>10</span>
    <span>lat</span>
    <span>doświadczenia</span>
</div>
</div>
</div>    </div>
</div>
</div>