<?php
/**
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\AllegroKonto[]|\Cake\Collection\CollectionInterface $allegroKonto
  */
?>
<div class="row">
    <div class="col-lg-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><?= $this->Txt->printAdmin(__('Admin | Allegro Konto')) ?></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><?= $this->Html->link($this->Html->tag('i','',['class'=>'fa fa-plus']).' '.$this->Txt->printAdmin(__('Admin | Dodaj {0}',[$this->Txt->printAdmin(__('Admin | Allegro Konto'))])), ['action' => 'add'],['escape'=>false,'class'=>'btn btn-xs btn-primary']) ?></li>
                </ul>
                    <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped data-table">
                    <thead>
            <tr>
                                <th data-priority="2"><?= $this->Txt->printAdmin(__('Admin | Id')) ?></th>
                                <th data-priority="11"><?= $this->Txt->printAdmin(__('Admin | Nazwa')) ?></th>
                                <th data-priority="12"><?= $this->Txt->printAdmin(__('Admin | Domyślne')) ?></th>
                                <th data-priority="9"><?= $this->Txt->printAdmin(__('Admin | Domyślna kategoria')) ?></th>
                                <th class="actions" data-orderable="false" data-priority="1"><?= $this->Txt->printAdmin(__('Admin | Actions')) ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($allegroKonto as $allegroKonto): ?>
            <tr>
                <td><?= $allegroKonto->id ?></td>
                <td><?= $allegroKonto->name ?></td>
                <td><?= $this->Txt->printBool($allegroKonto->isDefault) ?></td>
                <td><?= $allegroKonto->defaultCategoryPath ?></td>
                <td class="actions">
                    <?php $checkCronToken= Cake\Cache\Cache::read('allegro_' . $allegroKonto->id . '_dev_token', 'allegro'); 
                    if(empty($checkCronToken)){
                        if(!empty($allegroKonto->device_code)){
                            echo $this->Html->link($this->Txt->printAdmin(__('Admin | Potwierdź aktywacje')), ['action' => 'setAuthCron', $allegroKonto->id,1],['escape'=>false,'class'=>'btn btn-danger btn-xs']);
                        }
                        else echo $this->Html->link($this->Txt->printAdmin(__('Admin | Aktywuj aplikacje')), ['action' => 'setAuthCron', $allegroKonto->id],['escape'=>false,'class'=>'btn btn-danger btn-xs']);
                    }
                    ?>
                    <?= $this->Html->link('<i class="fa fa-cogs"></i>', ['action' => 'edit', $allegroKonto->id],['escape'=>false,'class'=>'btn btn-default btn-xs','data-toggle'=>'tooltip', 'data-placement'=>'top','title'=>$this->Txt->printAdmin(__('Admin | Edytuj'))]) ?>
                    <?= $this->Html->link('<i class="fa fa-trash"></i>', ['action' => 'delete', $allegroKonto->id], ['confirm-btn-yes'=>$this->Txt->printAdmin(__('Admin | Tak')),'confirm-btn-no'=>$this->Txt->printAdmin(__('Admin | Nie')),'confirm-message' => $this->Txt->printAdmin(__('Admin | Are you sure you want to delete # {0}?', $allegroKonto->name)),'escape'=>false,'class'=>'btn btn-danger btn-xs confirm-link','data-toggle'=>'tooltip', 'data-placement'=>'top','title'=>$this->Txt->printAdmin(__('Admin | Usuń'))]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>