<div class="row promocja-item">
    <div class="col-xs-12 col-md-2">
        <?=$this->Txt->towarZdjecie($towar)?>
    </div>
    <div class="col-xs-12 col-md-10">
        <?=$towar->nazwa?>
        <?=$this->Form->control('towar_promocja_id',['type'=>'hidden','value'=>$towar->id])?>
    </div>
</div>

