<div class="map-item" key="<?=$key?>" kat-id="<?=$katId?>" row-key="<?=$katId.'_'.$hurtownia.'_'.$key?>">
    <?php if(!empty($item)){?><input type="hidden" name="kategoria_map[<?=$katId?>][<?=$key?>][id]" value="<?=$item->id?>"/><?php } ?>
    <input type="hidden" name="kategoria_map[<?=$katId?>][<?=$key?>][kategoria_id]" value="<?=$katId?>"/>
    <input type="hidden" name="kategoria_map[<?=$katId?>][<?=$key?>][hurtownia]" value="<?=$hurtownia?>"/>
    <input type="text" class="form-control" name="kategoria_map[<?=$katId?>][<?=$key?>][nazwa]" value="<?=(!empty($item)?$item->nazwa:'')?>" placeholder="<?=$this->Txt->printAdmin(__('Admin | Ścieżka kategorii w hurtowni'))?>"/>
           <span class="remove btn btn-danger btn-xs" confirm-message="<?=$this->Txt->printAdmin(__('Admin | Czy na pewno chcesz usunąć element?'))?>" row-key="<?=$katId.'_'.$key?>"><i class="fa fa-trash"></i></span>
</div>