<div class="container nav-top" style="background: #ffffff;">
    <div class="row align-items-center">
        <div class="col-md-12 nav-top-brand">
            <a href="/"><img src="/img/logo.png"/></a>
        </div>
    </div>
</div>