.banner-container{
    margin: 0 0 0 auto;
}
.carousel-control {
    width: 15%;
    max-width: 88px;
    position: absolute;
    left: 0;
    top: 31px;
    bottom: 0;
    opacity: 0.5;
    transition: opacity 0.3s;
}
#carouselZestaw .carousel-control{
    top: 0;
}
.carusel-items .carousel-control{
    opacity: 1;
}
.carousel .carousel-control:hover{
    opacity: 1;
}
.carousel-control.right{
    left: auto;
    right: 0;
}
.carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > img{
    margin: 0 auto;
}
.carousel-inner > .carousel-item{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}
.carousel-inner > .carousel-item .carousel-background-img{
    opacity: 0;
}
.banner-caption[position=absolute]{
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
}
.banner-caption[position=relative]{
    position: relative;
}
.slideElementContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    max-width: 1920px;
    margin: 0 auto;
}
.carusel-control-img{
    position: absolute;
    top: calc(50% - 72px);
    width: auto;
}
.carusel-control-img-next{
    background: none;
    right: 0;
}
.carusel-control-img-next:after{
    content: "";
    display: inline-block;
    background: url(/img/slide-next-7.png) no-repeat center center transparent;
    width: 45px;
    height: 105px;
}
.carusel-control-img-prev{
    background: none;
    left: 0;
}
.carusel-control-img-prev:after{
    content: "";
    display: inline-block;
    background: url(/img/slide-prev-7.png) no-repeat center center transparent;
    width: 45px;
    height: 105px;
}
.carusel-items .carusel-control-img-prev:after{
    background: url('/img/slide-prev-2.png') no-repeat center center transparent;
}
.carusel-items .carusel-control-img-next:after{
    background: url('/img/slide-next-2.png') no-repeat center center transparent;
}
.carusel-items.inverse-control .carusel-control-img-prev:after{
    background-image: url('/img/slide-prev-5.png');
}
.carusel-items.inverse-control .carusel-control-img-next:after{
    background-image: url('/img/slide-next-5.png');
}
.carousel-control.no-shadow.left{
    background: none;
}
.carousel-control.no-shadow.right{
    background: none;
}

@media (max-width: 1366px) { 
    .carusel-items:not(#carouselZestaw):not(.items-mini) .carousel-control{
        top: -40px;
        height: 35px;
        bottom: auto;
        width: 18px;
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini).inverse-control .carousel-control{
        top: -45px;
    }
    #carouselPremiery.carusel-items.inverse-control .carousel-control{
        top: -33px;
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini) .carousel-control.left{
        left: calc(100% - 65px);
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini) .carousel-control.right{
        right: 15px
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini) .carusel-control-img-prev:after{
        background: url('/img/slide-prev-3.png') no-repeat center center transparent;
        height: 35px;
        width: 18px;
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini) .carusel-control-img-next:after{
        background: url('/img/slide-next-3.png') no-repeat center center transparent;
        height: 35px;
        width: 18px;
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini).inverse-control .carusel-control-img-prev:after{
        background-image: url('/img/slide-prev-4.png');
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini).inverse-control .carusel-control-img-next:after{
        background-image: url('/img/slide-next-4.png');
    }
    .carusel-items:not(#carouselZestaw):not(.items-mini) .carusel-control-img{
        top: 0;
    }
}