.widget-facebook {
    position: fixed;
    right: 0;
    top: 220px;
    width: 55px;
    overflow: hidden;
    transition: all 0.3s;
      white-space: nowrap;
  z-index:36;
      height: 55px;
}
.widget-facebook:hover {
    width: 355px;
  z-index: 999999;
      height: auto;
}
.widget-facebook:hover > div{
display: inline-block;
}
.widget_ico {
        width: 55px;
    float: left;
    background: #fff;
    border-radius: 15px 0 0 15px;
    margin-right: -1px;
    z-index: 2;
    position: relative;
    border: 1px solid #cccccc;
    border-right: none;
 overflow: hidden;
}
.widget-facebook:hover .widget-content {
    display: inline-block;
      border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #ccc;
}
body.ready .widget-facebook > .widget-content {
    display: none;
}
body.ready .widget-facebook:hover > .widget-content {
    display: inline-block;
}
label.koszyk-zgoda{
font-size:12px !important;
}