.view-image{
    height: 440px;
    line-height: 436px;
    vertical-align: middle;
    text-align: center;
    border: none;
}
.view-image > img{
    display: inline-block;
    vertical-align: middle;
    transition: opacity 0.2s;
}
.view-thumbs{
    position: relative;
    padding: 0 30px;
    white-space: nowrap;
}
.pion .view-thumbs{
    padding: 30px 0;
    text-align: center;
}
.view-thumbs-inner {
    height: 80px;
    overflow: hidden;
    border: none;
    margin-top: 0;
}
.pion .view-thumbs-inner{
        height: 330px;
    overflow: hidden;
    border: none;
    margin-top: 30px;
    text-align: center;
}
.view-thumbs-control {
    position: absolute;
    width: 20px;
    background: rgba(0,0,0,0.0);
    text-align: center;
    transition: background 0.3s;
    line-height: 80px;
}
.view-thumbs-control > a{
    display: block;
    cursor: pointer;
    font-size: 40px;
    color: #dfdfdf;
    transition: color 0.3s;
}
.view-thumbs-control:hover > a{
    color: #f1415a;
}
.view-thumbs-control > a > i::before {
    font-size: 60px;
}
.view-thumbs-control.slide-prev{
    top: 0;
    left: 0;
    bottom: 0;
}
.pion .view-thumbs-control.slide-prev{
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    text-align: center;
    width: 100%;
}
.view-thumbs-control.slide-next{
        bottom: 0;
    top: 0;
    right: 0;
}
.pion .view-thumbs-control.slide-next{
    bottom: 0;
    top: auto;
    right: 0;
    left: 0;
    text-align: center;
    width: 100%;
    line-height: 0;
}
.view-thumbs-inner .view-thumb{
    height: 80px;
    line-height: 80px;
    cursor: pointer;
    display: inline-block;
    width: 33.33%;
    text-align: center;
}
.pion .view-thumbs-inner .view-thumb{
        display: block;
    height: 100px;
    line-height: 100px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
        background-color: #fff;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.pion .view-thumbs-inner .view-thumb img{
    opacity: 0;
}
.view-image.preview:before{
    position: fixed;
    z-index: 4999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    content: ' ';
}
.view-image.preview > img {
    position: fixed;
    left: calc(50% - 400px);
    max-width: 800px;
    max-height: 800px;
    top: 20px;
    z-index: 5000;
}
body.image-preview{
    overflow: hidden;
}
.galeria-loader {
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
    display: none;
}
.view-image.reload .galeria-loader{
    display: block;
}
.view-image.reload > img{
    opacity: 0;
}
#image-preview{
    position: fixed;
    z-index: 10000;
    background: rgba(0,0,0,0.5);
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#image-preview img{
    opacity: 0.0;
    transition: opacity 0.3s;
    transform: scale(0.1);
}
#image-preview img.loaded{
    background: #ffffff;
    padding: 15px;
    opacity: 1;
    transform: scale(1);
}

#image-preview img + .image-preview-loader{
    display: inline-block;
    position: absolute;
    left: calc(50% - 25px);
    bottom: 45px;
}
#image-preview img.loaded + .image-preview-loader{
    display: none;
}
.image-preview-nav{
    position: absolute;
    top: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    background: transparent;
    color: #ffffff;
    display: none;
}
.image-preview-nav.loaded{
    display: block;
}
.image-preview-nav > a{
    color: #000000;
    border: none;
        padding: 5px;
        transition: all 0.3s;
        position: absolute;
        top: 20px;
        bottom: 0;
        font-size: 25px;
        opacity: 0.5;
        vertical-align: middle;
}
.image-preview-nav > a[data-target=next]{
    right: 0;
    left: auto;
    width: 30px;
}
.image-preview-nav > a[data-target=prev]{
    left: 0;
    right: auto;
    width: 30px;
}
.image-preview-nav > a[data-target=next] > i{
        position: absolute;
    top: calc(50% - 12px);
    right: 5px;
}
.image-preview-nav > a[data-target=prev] > i{
        position: absolute;
    top: calc(50% - 12px);
    left: 5px;
}
.image-preview-nav > a[data-target=close]{
    left: auto;
    right: 0;
    top: 0;
    font-size: 18px;
    bottom: auto;
    margin: 0 5px;
}
.image-preview-nav > a:hover{
    color: #000000;
    opacity: 1;
}
@media (min-width: 1719px) { 
    .pion .view-thumbs-inner .view-thumb{
        height: 190px;
        line-height: 190px;
    }
    .pion .view-thumbs-inner{
        height: 600px;
    }
    .view-image {
        height: 680px;
            line-height: 680px;
    }
}
.sk-circle-galeria {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle-galeria .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle-galeria .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ed1c24;
  border: 1px solid #231f20;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle-galeria .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle-galeria .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle-galeria .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle-galeria .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle-galeria .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle-galeria .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle-galeria .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle-galeria .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle-galeria .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle-galeria .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle-galeria .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle-galeria .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle-galeria .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle-galeria .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle-galeria .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle-galeria .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle-galeria .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle-galeria .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle-galeria .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle-galeria .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle-galeria .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle-galeria .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.spinner-preview {
  margin: 0 auto 0;
  width: 70px;
  text-align: center;
}

.spinner-preview > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner-preview .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner-preview .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}