body{
    background: #000000;
    text-align: center;
    padding-bottom: 0;
}
.time-label{
    color: #ffffff !important;
}
body > .container-fluid{
        background: #023e7c;
    padding: 20px;
    color: #fff;
}
.newsletterInfo {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}
footer {
    padding-bottom: 50px;
    background: #e6005b;
}