
body{
    padding-bottom: 0;
}
footer{
    position: relative;
    margin-top: 30px;
}
.login-container .login-separator{
    display: none;
}
div#cartPreview:not(.addPopup){
    width: calc(100% - 30px);
}
.filter-category:not(.showAll) li:not(.open) {
    /*display: none;*/
}
div#col-left {
    position: fixed;
    left: calc(-100% + 5px);
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 50;
    overflow: auto;
    transition: left 0.3s;
}
div#col-left.open{
    left: 0;
}
#filterShowXs{
    position: fixed;
    bottom: 90px;
    right: 5px;
    display: inline-block;
    background: #fff;
    opacity: 0.8;
    transition: opacity 0.3s;
    z-index: 80;
}
#filterShowXs:hover,
#filterShowXs:active,
#filterShowXs:focus,
#filterShowXs.opened{
    opacity: 1;
    background: #28a745;
    color: #ffffff;
}
#filterShowXs.opened{
    bottom: auto;
    top: 5px;
}
#filterShowXs .f-open-visible,
#filterShowXs.opened .f-hidden-visible{
    display: none;
}
#filterShowXs .f-hidden-visible,
#filterShowXs.opened .f-open-visible{
    display: inline-block;
}
#catShowAllXs{
    margin-left: 10px;
}
#xsSubmitFilterRow{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 50;
    padding: 0 !important;
}
#xsSubmitFilterRow{
    display: none;
}
.open #xsSubmitFilterRow{
    display: flex;
}
.xs-cart-hidden{
    display: none !important;
}
.koszyk-table tbody td{
    border-bottom: none;
}
.koszyk-table tbody .cart-mobile-tr > td{
    border-bottom: 1px solid #dcdcdc;
}
.cart-mobile-tr > td:first-child{
    border-left: 1px solid #dcdcdc;
}
.cart-mobile-tr .cartItemBrutto {
    font-weight: 700;
    font-size: 18px;
}
.cart-item .view-ilosc .ui-spinner{
    width: 100%;
}
.koszyk-table tbody td.cart-image{
    border-left: 1px solid #dcdcdc;
}
.xs-mt-10{
    margin-top: 10px;
}
.checkbox input[type=checkbox] + label{
    width: calc(100% - 20px);
}

.koszyk-table.order-sumary tbody > tr:first-child{
    border-top: 1px solid #dcdcdc;
}
.koszyk-table.order-sumary tbody td.name{
    border-right: 1px solid #dcdcdc;
}
.pages-menu {
    list-style: none;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}
.pages-menu.open{
    height: 200px;
    overflow: auto;
}
#pagesLeftMenuOpen > i{
    float: right;
}
.xs-d-block{
    display: block;
}
.xs-hidden,
.hidden-xs{
    display: none !important;
}
.producerInCat{
    columns: 2;
}
.xs-btn-block{
    display: block;
    width: 100%;
}
.xs-btn-block+.xs-btn-block {
    margin-top: .5rem;
}
.user-nav{
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}
.user-nav.open{
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}
.user-nav > a{
    width: 100%;
}
.user-nav > .user-sub-nav > a{
    width: 100%;
}
#userMenuShowBtn{
    margin-bottom: 10px;
}

.sm-border-2-top{
    padding-top: 15px;
    margin-top: 15px;
    border-top: 2px solid #e50c00;
}
.md-flex{
    width: 100%;
    text-align: left !important;
    padding-left: 15px;
    padding-right: 15px;
}
.dlaczego-my{
    display: block;
}
.dlaczego-my-item{
    width: 100%;
    flex: none;
}
.dlaczego-my-item:after{
    display: none;
}
.item-list{
    display: block;
}
.item-list > .product{
    width: 100%;
    max-width: 270px;
    margin: 20px auto 40px auto;
}
.bar-kategorie{
    display: block;
}
.bar-kategorie a.bar-kategoria-item{
    max-width: 100%;
}
.octagonWrap{
    height: auto;
}
.premiery{
    margin-bottom: 20px;
}
.item-list.full > .product{
    margin-right: auto;
    max-width: 270px;
    min-width: auto;
}
.product-premiera{
    margin-bottom: 40px;
}
.hit-tygodnia .item-list:first-child,
.hit-tygodnia .item-list:last-child{
    padding-left: 15px;
    padding-right: 15px;
}
.info-dark{
    padding-left: 0;
    height: auto;
    padding-top: 5px;
    margin-bottom: 20px;
}
.info-dark > div.text{
    width: 100%;
}
.info-dark > div.szczegoly{
    width: 100%;
    text-align: right;
    padding-right: 15px;
}
.info-dark > div.szczegoly > span{
    max-width: 100%;
    white-space: nowrap;
    margin-right: 8px;
}
.info-dark.pre-order:before,
.info-dark.zwrot:before{
    top: auto;
    bottom: 6px;
}
.banner-container .carousel-indicators li{
    display: none;
}
body.mobile .parent-hot-deal{
    margin-bottom: 0;
    margin-top: 10px;
    max-width: 480px;
}
body.mobile .parent-hot-deal > .name{
    font-size: 14px;
    color: #353535;
    font-weight: 700;
    text-align: center;
}
body.mobile .hot-deal-limit > div{
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    vertical-align: bottom;
}
body.mobile .hot-deal-limit > div.items-sold{
    line-height: 28px;
    margin-bottom: -5px;
}
body.mobile .hot-deal-limit > div > span{
    font-size: 13px;
}
body.mobile .octagon3 > .content > .hot-deal > div.info > .items-left{
    font-size: 13px;
    text-align: left;
    padding-left: 15px;
}

body.mobile .octagon3 > .content > .hot-deal > div.info > .items-left > span{
    color: #e50c00;
}
body.mobile .octagon3 > .content > .hot-deal > div.info > .icon{
    text-align: left;
    margin: 10px;
}
body.mobile .octagon3 > .content > .hot-deal{
    display: block;
    padding-bottom: 0;
}
body.mobile .octagon3 > .content > .hot-deal > div{
    display: inline-block;
    width: calc(50% - 2px);
    text-align: center;
    padding: 0;
    vertical-align: top;
}
body.mobile .octagon3 > .content > .hot-deal > div.info{
    padding-left: 5px;
}
body.mobile .octagon3 > .content > .hot-deal > div.image{
    padding-right: 20px;
}
body.mobile .octagon3 > .content > .hot-deal > div .name{
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
    height: auto;
    margin-bottom: 5px;
}
body.mobile .octagon3 > .content > .hot-deal > div .timer{
    text-align: left;
}
body.mobile .octagon3 > .content > .hot-deal > .info > .info-content{
    padding: 0;
}
body.mobile .octagon3 > .content > .hot-deal > .info > .info-content .head{
    display: block;
    height: auto;
    line-height: normal;
    margin-bottom: 0;
}
body.mobile .hot-deal .head > .icon, 
body.mobile .hot-deal .head > .year {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding: 0 25px;
}
.hot-deal #hot-deal-time.time-counter > div.hours:after{
    line-height: 30px;
}
.hot-deal #hot-deal-time.time-counter > div > span {
    font-size: 24px;
    line-height: 30px;
}
.hot-deal #hot-deal-time.time-counter > div.seconds > span {
    font-size: 18px;
    line-height: 23px;
}
.hot-deal #hot-deal-time.time-counter > div > .time-label{
    display: none;
}
.hot-deal .timer-label{
    text-align: left;
    font-size: 14px;
    color: #8c8c8c;
}
body.mobile .hot-deal-limit{
    padding: 0 20px;
}
body.mobile .hot-deal-limit > div.info-head {
    color: #e50c00;
    font-size: 20px;
    font-weight: 900;
}
.op-w-55 > img{
    margin-top: -17px;
}
footer .newsletterInfo{
    text-align: center;
    font-size: 20px;
}
footer #newsletter-form button{
    width: 100%;
    margin: 10px auto 5px;
    max-width: 225px;
    float: none;
}
.top-bar {
    height: auto;
}
.koszyk-table tbody td.name {
    max-width: 100%;
    padding-bottom: 0;
    border-left: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
}

.newsletter-ico{
    display: none;
}
.octagon3 > .content > .hot-deal > .info .price{
    display: flex;
    position: relative;    
    margin-top: -5px;
    margin-left: -5px;
}
.octagon3 > .content > .hot-deal > .info .price > div{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    vertical-align: middle;
    text-align: center;
}
.octagon3 > .content > .hot-deal > .info .price > div.regular-price{
    background: #353535;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.octagon3 > .content > .hot-deal > .info .price > div.regular-price > span{
    position: relative;
    display: inline-block;
    padding: 0 8px;
}
.octagon3 > .content > .hot-deal > .info .price > div.regular-price > span:after{
    content: '';
    width: 100%;
    height: 2px;
    background: #cb5757;
    left: 0;
    top: 50%;
    z-index: 1;
    position: absolute;
}
.octagon3 > .content > .hot-deal > .info .price > div.promotion-price{
    background: #e50c00;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
}
.octagon3 > .content > .hot-deal > .info > .oszczedzasz{
    color: #353535;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
.octagon3 > .content > .hot-deal > .info > .oszczedzasz > span{
    position: relative;
    color: #e50c00;
    font-weight: 900;
    padding: 0 5px;
    background: #ffffff;
}
.octagon3 > .content > .hot-deal > .info .price:before{
    content: '';
    position: absolute;
    width: 24%;
    height: 2px;
    background: #e50c00;
    z-index: 0;
    bottom: -12px;
    right: 18px;
}
.octagon3 > .content > .hot-deal > .info .price:after{
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    bottom: -12px;
    background: #e50c00;
    z-index: 1;
    right: 18px;
}

body.mobile .octagon3 > .content > .hot-deal > .info .price:after,
body.mobile .octagon3 > .content > .hot-deal > .info .price:before{
    right: 36px;
    display: none;
}
.footer-kontakt-links > a{
    display: block;
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
}
.footer-kontakt-links > a > i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
    color: #e50c00;
}
.footer-kontakt-links > a.telefon{
    margin-right: 0;
}
.footer-kontakt-social{
    text-align: center;
    line-height: normal;
}
.footer-kontakt-social > a{
    margin-right: 0;
}
.top-menu{
    display: block;
}

.top-menu + .top-menu{
    margin-top: 5px;
}
.top-menu > li:not(:last-child){
    margin-right: 15px;
}
.top-menu > li > a {
    font-size: 22px;
    color: #89d3ef;
}
.top-menu > li > a i:before{
    font-size: 25px;
}
.top-menu > li .goToCart > a span.cartLinkLabel > i:before{
    font-size: 18px;
    font-weight: 400;
    transform: scaleX(-1);
    display: inline-block;
}
.goToCart > a > span{
    font-size: 15px;
    font-weight: 500;
    color: #e0cd10;
    text-align: right;
}
.goToCart > a > span > .cartInfo{   
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.top-menu > li.email-link:after, 
.top-menu > li.punkty-odbioru-link:after, 
.top-menu > li.acount-link:after{
    display: none;
}
.navbar-brand{
    margin-right: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: -16px;
    margin-bottom: -30px;
}

.navbar-brand > img{
    max-height: 110px;
}
.mobile-menu-button{
    padding: 0;
    font-size: 40px;
    vertical-align: middle;
    color: #4589b4;
}
a.goToCart {
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
}
a.goToCart > img{

}
.bg-light {
    background-color: #4589b4!important;
}
span.cartLinkLabel {
    display: inline-block;
    vertical-align: middle;
    line-height: 23px;
    font-weight: 700;
}
form.search {
    margin: 0;
}
.mobile .navbar-nav > li > a {
    font-size: 16px;
    color: #7c7c7d;
    padding: 5px 0;
}
.mobile .navbar-nav > li {
    margin-bottom: 5px;
    border-bottom: 1px solid #dadada;
}
.towar-lista-filter{
    display: block;
}
.towar-lista-filter > li{
    padding: 0;
}
.towar-lista-filter > li:after{
    display: none;
}
.breadcrumb-container{
    margin-top: 0px;
    margin-bottom: 0;
}
.nav-top{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    margin-top: 0px;
}
form#filterForm .filter-container{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
form#filterForm.open .filter-container{
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 50;
    padding: 40px 15px;
    overflow: auto;
}
.filter-slider.filter-slider-price{
    margin-top: 0;
    opacity: 1;
    height: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #dfdfdf;
}
#price-range-inputs{
    border-bottom: none;
}
.filterList{
    max-height: 200px;
    overflow: auto;
}
.view-bottom-param{
    display: flex;
    padding: 0 3px;
}
.view-bottom-param > div{
    flex: 1 1 50%;
    width: 50%;
    max-width: 100%;
    margin-bottom: 3px;
}
table.specyfikacja-table td.param-action{
    display: none;
}
.octagonWrap.small.view-price{
    margin-top: 0;
}
.licznik-wysylki {
    display: block;
    margin-top: 10px;
}
.licznik-wysylki .time-counter#wysylka-time {
    vertical-align: top;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.licznik-wysylki > div.licznik-wysylki-info{
    text-align: center;
    padding-left: 0;
}
.licznik-wysylki-ico {
    vertical-align: top;
    font-size: 14px;
    color: #5d5d5d;
    text-align: center;
    display: block;
}
.licznik-wysylki-ico > img {
    vertical-align: bottom;
    margin-right: 10px;
    display: block;
    text-align: center;
    margin: 0 auto 6px;
}
.view-param-kod{
    display: block;
}
.view-param-kod + .view-param-kod{
    margin-left: 0;
}
#newsletter-form .newsletter-zgoda > label, .kontakt-zgoda > label{
    width: calc(100% - 25px);
}
footer #newsletter-form input[type=email]{
    max-width: 100%;
}
.userAcount-bonus{
    white-space: normal;
    text-align: center;
}
footer ul.footer-links{
    display: none;
}
footer ul.footer-links.open{
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
footer ul.footer-links.open > li{
    display: block;
    line-height: normal;
    padding: 3px 5px;
    margin-bottom: 3px;
}
footer .footer-head{
    border-bottom: 1px solid #d1d2d2;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding: 7px 0;
    position: relative;
    padding-right: 20px;
}

footer .footer-head:after{
    display: inline-block;
    content: "\f107";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #e50c00;
}
footer .footer-head:before{
    background: #e50c00;
}
footer .footer-head.not-links:after{
    display: none;
}
footer .footer-head.open:after{
    content: "\f106";
}
footer .footer-kontakt .footer-head{
    display: none;
}
footer{
    background: #116baa;
}
footer .copyright{
    line-height: normal;
    text-align: center;
    padding-top: 30px;
    color: #191f1c;
    background: #fff;
    margin-top: -25px;

}

footer .copyright .text-left,
footer .copyright .text-right{
    text-align: center !important;
    margin-bottom: 10px;
}
.footer-kontakt {
    margin-top: 20px;
}
.footer-kontakt > div {
    margin-bottom: 20px;
}
.footer-kontakt > div + div {
    margin-bottom: 40px;
}

.footer-kontakt > div .footer-konto{
    padding-left: 0;
    text-align: right;
    white-space: nowrap;
}
.footer-logo{
    text-align: center;
}
.container-fluid.footer {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}
.strefa-line{
    padding-right: 0;
    text-align: left;
}
.row.strefa{
    display: none;
}
.carusel-items:not(#carouselZestaw) .carousel-control{
    top: 50%;
    transform: translateY(-50%);
}
.carusel-items:not(#carouselZestaw):not(.items-mini) .carousel-control{
    top: -24px;
}
.carusel-items:not(#carouselZestaw):not(.items-mini) .carousel-control.left,
.carusel-items:not(#carouselZestaw) .carousel-control.left{
    left: 10px;
}
.carusel-items .carousel-inner{
    max-width: 280px;
    margin: 0 auto;
}
.carusel-items:not(#carouselZestaw) .carusel-control-img-next:after{
    background: url('/img/slide-next-6.png') no-repeat center center transparent;
}
.carusel-items:not(#carouselZestaw) .carusel-control-img-prev:after{
    background: url('/img/slide-prev-6.png') no-repeat center center transparent;
}
.xs-padding-0{
    padding: 0;
}
.line-header:not(.standard){
    position: relative;
    border-top: none;
    color: #e50c00;
    z-index: 1;
    text-align: center;
}

.line-header:not(.standard) > span{
    display: inline-block;
    padding: 0 5px;
    background: #ffffff;
}
.line-header:not(.standard):before {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #666666;
    left: 0;
    top: 50%;
    z-index: -1;
}
.product > .premiera-info > a{
    background: transparent;
    color: #666666;
    font-size: 16px;
    margin-top: 3px;
}
.product > .premiera-info > a > i{
    color: #e50c00;
}
.product > .premiera-info > div{
    font-size: 16px;
    color: #666666;
    font-weight: 700;
    padding-bottom: 0;
}
.product > .premiera-info > div > span{
    color: #e50c00;
}
.xs-padding-r-0{
    padding-right: 0;
} 
.xs-padding-l-60{
    padding-left: 60px;
}
.zobacz-wszystkie{
    font-size: 16px;
    font-weight: 700;
    color: #353535;
    margin-top: 20px;
    display: inline-block;
}

.zobacz-wszystkie.borderd{
    border: 1px solid #bfbfbf;
    padding: 9px 12px;
    margin-top: 10px;
}
.zobacz-wszystkie > i{
    color: #e50c00;
}
body.mobile .view-thumbs {
    position: relative;
    white-space: normal;
    text-align: center;
    padding: 0;
}
body.mobile  .view-thumbs-inner {
    height: 30px;
    overflow: hidden;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
body.mobile  .view-thumbs-inner .view-thumb > img {
    display: none;
}
body.mobile .view-thumbs-inner .view-thumb {
    height: 6px;
    line-height: 6px;
    cursor: pointer;
    display: inline-block;
    width: 6px;
    text-align: center;
    background: #b1b1b1;
    margin: 0 5px;
    border-radius: 50%;
}
body.mobile .view-thumbs-inner .view-thumb.active {
    background: #e50c00;
}
body.mobile .view-thumbs-control{
    display: none;
}
.view-wersja{
    margin-top: -23px;
}
.view-wersja .version-name {
    display: -webkit-box;
}
.view-wersja .version-name + .btn-group {
    display: block;
    width: 100%;
}
.view-wersja .version-name + .btn-group > button {
    width: 100%;
    text-align: left;
}
.view-wersja .version-name + .btn-group > button.dropdown-toggle::after{
    float: right;
    content: "\f107";
    text-align: center;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    border: none !important;
    margin-right: 5px;
    color: #fa8f21;
}
.view-wersja .dropdown-menu.show{
    width: 100%;
}
.towar-view-top .favorite{
    top: auto;
    color: #fa8f21;
    bottom: calc(100% + 25px);
    right: 0;
    font-size: 16px;
}
.view-price-mobile{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    position: absolute;
    right: 0;
    bottom: 0;
}
a.powiadom-o-cenie {
    border: 1px solid #000000;
    color: #ffffff;
    line-height: normal;
    padding: 5px;
    display: block;
    margin: 0;
    position: relative;
    background: #000000;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
}
a.powiadom-o-cenie:before{
    display: none;
}
a.powiadom-o-cenie > i {
    margin-left: 5px;
    vertical-align: text-bottom;
    font-size: 16px;
}
.view-dzien-wysylki{
    font-size: 14px;
    color: #000000;
    line-height: normal;
}
.view-dostawa {
    margin-top: 0;
    font-size: 14px;
    color: #000000;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline-block;
    line-height: normal;
}
.view-dostawa .view-dostawa-head{
    font-weight: 400;
}
.view-dzien-wysylki .view-dzien-wysylki-dzien,
.view-dostawa .view-dostawa-item{
    font-weight: 700;
    font-size: 16px;
    color: #fa8f21;
}
.view-bonusy {
    font-size: 14px;
    color: #000000;
    border-top: 1px solid #cfcfcf;
    padding-top: 5px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.bonus-suma{
    background: #c3c3c3;
    font-size: 14px;
    color: #000000;
    vertical-align: middle;
    padding: 5px;
    line-height: normal;
    text-align: left;
}
.bonus-suma > span{
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    padding: 0;
    border-right: 1px solid #ffffff;
    margin-right: 5px;
    vertical-align: middle;
    width: 45px;
    text-align: center;
}
.bonus-suma > input{
    vertical-align: middle;
}
.bonus-suma > label{
    vertical-align: middle;
    margin-bottom: 0;
    margin-left: 5px;
    display: inline-block;
    font-size: 13px;
}
.view-ilosc {
    max-width: 85px;
    display: inline-block;
}
.view-ilosc input{
    height: 41px;
}
.view-ilosc + button.add-to-cart{
    display: inline-block;
    width: calc(100% - 90px);
    font-size: 18px;
    text-transform: none;
    border-radius: 2px;
}
.view-ilosc + button.add-to-cart > i{
    margin-left: 7px;
}
table.specyfikacja-table{
    margin-bottom: 0;
    max-width: 100%;
}
.specyfikacja-table .dropdown-circle{
    color: #000000;
    font-size: 16px;
    width: 100%;
    text-align: left;
    padding-top: 3px;
}
.specyfikacja-table .dropdown-circle > i{
    float: right;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    margin-top: -3px;
}

table.specyfikacja-table td.param-name > span:before,
table.specyfikacja-table td.param-value > span:before{
    content: '';
    width: 15px;
    height: 15px;
    background: transparent;
    left: 0;
    bottom: -9px;
    display: block;
    position: absolute;
    transform: rotate(45deg);
}
table.specyfikacja-table td.param-name > span:before{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 9px;
    border-top-width: 9px;
    border-left: 9px solid #dddddd;
    transform: none;
    background: transparent;
}
table.specyfikacja-table td.param-value > span:before{
    left: auto;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 9px;
    border-bottom-width: 9px;
    border-right: 9px solid #dddddd;
    transform: none;
    background: transparent;
}
.specyfikacja-head{
    text-align: center;
    margin-bottom: -20px;
}
.view-pokaz-wszystkie-z-kategorii{
    color: #fa8f21;
    text-align: center;
    display: block;
    font-size: 16px;
}
.carusel-items .carusel-control-img-next:after{
    background: url(/img/slide-next-6.png) no-repeat center center transparent;
}
.carusel-items .carusel-control-img-prev:after{
    background: url(/img/slide-prev-6.png) no-repeat center center transparent;
}
div#carouselZestaw {
    max-width: 100%;
    padding: 0 15px;
}
div#carouselZestaw .carusel-control-img-next:after,
div#carouselZestaw .carusel-control-img-prev:after{
    width: 20px;
}
div#carouselZestaw .zestaw{
    text-align: center;
}
div#carouselZestaw .zestaw_podsumowanie{
    text-align: left;
}
div#carouselZestaw .zestaw > .images{
    margin-left: -35px;
}
div#carouselZestaw .zestaw-zawartosc{
    display: none;
}
.opinie-head{
    font-size: 28px;
}
.opinie-content .opinie-header > div{
    font-size: 24px;
    display: block;
}
.opinia-label{
    margin-left: 10px;
}
form#nowa_opinia .form-group input#autor{
    width: 100%;
}
form#nowa_opinia #new_stars + label{
    margin-top: 10px;
    width: 100%;
}
.opinie-content .ocena > div.opinia-autor{
    display: block;
}
.xs-btn-block{
    width: 100%;
    text-align: center;
}
.view-productName {
    font-size: 18px;
    text-align: center;
    display: block;
}
.view-productOpinia {
    display: block;
    float: none;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
}
body.mobile .view-image{
    position: relative;
    height: 240px;
    line-height: normal;
}
.galeria-loader {
    top: 50%;
    transform: translateY(-50%);
}
.mobile-kody-produktu{
    background: #ededed;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mobile-kody-produktu > .view-param-kod{
    position: relative;
}
.mobile-kody-produktu > .view-param-kod:before{
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    position: relative;
    transform: rotate(45deg);
    background: #fa8f21;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}
.breadcrumb > li.active,
.breadcrumb > li a {
    color: #353535;
}
.octagonWrap.color{
    max-width: 480px;
    margin: 0 auto;
}
.md-after-line:after{
    display: none !important;
}
form.search div#rq-results {
    width: auto;
    left: -1px;
    right: -1px;
    border: 1px solid #fa8f21;
}
.preordersHead-line {
    text-align: left;
    padding-right: 0;
}
.preordersHead{
    display: none;
}
#form-karta-kod{
    margin-bottom: 20px;
}
#form-karta-kod > * {
    margin-bottom: 0;
}
.home-search > .form-group.radio + .form-group.radio{
    flex-direction: row;
    height: auto;
    width: 100%;
    max-width: 100%;
}
.home-search .radio-item{
    flex: 1 1 50%;
}
.home-search > .form-group.select {
    margin-bottom: 30px;
}
.home-top-left {
    padding-bottom: 0px;
}
ul.home-menu > li{
    overflow: hidden;
    margin-bottom: 10px;
}
ul.home-menu > li > a{
    width: auto;
}
ul.home-menu:not(.produkt-dnia-ul) > li > div{
    width: 100%;
}
ul.home-menu:not(.produkt-dnia-ul) > li > a{
    float: right;
    margin-top: 10px;
}
ul.home-menu:not(.produkt-dnia-ul) > li:after{
    line-height: 120px;
}
ul.home-menu > li:first-child + li:after{
    line-height: 100px;
}
ul.home-menu > li:first-child + li + li:after{
    line-height: 110px;
}
.home-kontakt-items {
    margin: 20px 0 0;
}
.call-back > div:first-child > i{
    vertical-align: middle;

}
.call-back > div:first-child > i:before{
    font-size: 35px;
}
.call-back > div:first-child > span {
    font-size: 12px;
    vertical-align: middle;
    padding-left: 5px;
}
.call-back > div:first-child > span > span {
    line-height: 19px;
    font-size: 18px;
}
.call-back > div:last-child {
    font-size: 16px;
    margin-top: 5px;
    line-height: 20px;
}
.call-us > a {
    font-size: 18px;
}
.call-us > div > a {
    height: 28px;
    line-height: 20px;
    font-size: 12px;
}
#newsletter-form{
    margin-top: 20px;
}
ul.home-menu.produkt-dnia-ul{
    margin-top: 20px;
}
.newsletterInfo p {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 13px;
}
.homeCategoryItem > a{
    width: 100%;
}
.home-info-text-img {
    height: auto;
}
.home-info-text-img .info-item {
    margin-bottom: 80px;
}
.blog-item-min {
    font-size: 14px;
    color: #aaaaaa;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid #2678b4;
    border-top: 1px solid #2678b4;
    border-radius: 20px;
    padding: 7px 15px;
    box-shadow: 2px 7px 7px 0px;
}
.produkt-dnia .info .price .promotion-price{
    white-space: nowrap;
}
.towar_view .view-links-top{
    font-size: 14px;
        padding-left: 5px;
    margin-left: 3px;
}
.towar_view .view-links-top:first-child{
    border-left: none;
    margin-left: 0;
}
.carusel-items.items-mini .carousel-control.right{
    right: 0;
}
.view-productBaseParams{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.view-productBaseParams > div {
    flex: 0 0 50%;
}
.view-time-to-send {
    text-align: center;
}
.towar_view .cart-form{
    margin-top: 25px;
}
.textHeadOne{
    font-size: 22px;
}
.opinia-label {
    min-width: 53px;
    height: 53px;
    line-height: 53px;
    width: auto;
}
.footer-konta img {
    max-width: 45px;
}
ul.home-menu.produkt-dnia-ul > li > div > span{
    font-size: 20px;
}
.newsletterInfo .footer-head{
    font-size: 24px;
}
.pagination > li.prev a, .pagination > li.next a{
    padding: 10px;
}
.login-container .forget-link{
        text-shadow: 0 0 1px #000;
        font-size: 15px;
}
.top-menu > li > a.logout {
    position: absolute;
    right: -25px;
    top: -4px;
}
.top-menu > li > a.logout i:before {
    font-size: 15px;
}
.top-menu > li > a.gold-link > i:before {
    font-size: 17px;
}
.top-menu > li > a.gold-link {
    color: #fff;
    font-size: 17px;
}
.top-menu > li > a.gold-link:hover{
    color: #e0cd10;
}
.promo-text{
    text-align: center;
}