.info-dark{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
/*.info-dark > div.szczegoly{
    width: 140px;
}*/
.item-list:not(.full){
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.select-parent > select{
-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
        padding: 5px 20px 9px 7px;
}
        
.info-dark > div.text{
padding-top: 40px;
}
.info-dark.zwrot > div.text{
padding-top: 28px;
}
.dlaczego-my-item{
    padding: 0 20px;
}
.dlaczego-my-item > .title{
    line-height: 20px;
    font-size: 16px;
}
.dlaczego-my-item > .content{
    font-size: 12px;
}