.zestaw_podsumowanie {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 20px;
    text-align: right;
    position: relative;
}
.zestaw_podsumowanie span.ui-spinner {
        position: absolute;
    width: 39px;
    left: -23px;
    bottom: 0;
    border-radius: 0;
    border: none;
    background: transparent;
}
.zestaw_podsumowanie > .zestaw-ilosc{
    display: none;
}
.zestaw_podsumowanie .ui-spinner input {
        display: block;
    border: 1px solid #d9d9d9;
    padding: 0;
    text-align: center;
    margin-right: 24px;
    width: calc(100% - 16px);
    height: 30px;
    border-radius: 5px 0 0 5px;
    background: #fff;
    font-size: 16px;
    margin: 0;
}
.zestaw_podsumowanie .ui-widget-content .ui-spinner-button {
        border: none;
    font-size: 14px;
    color: #ffffff;
    padding: 0;
    transition: color 0.3s;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    background: #d6d6d6;
    border-bottom: 1px solid #ffffff !important;
    border-top: none !important;
    border-right: 1px solid #d9d9d9;
    width: 16px;
    height: 17px;
    margin: 0;
}
.zestaw_podsumowanie .ui-spinner a.ui-spinner-button + a.ui-spinner-button {
    border-bottom: none !important;
    border-top: 1px solid #ffffff !important;
}
.zestaw-items {
    display: inline-block;
    vertical-align: bottom;
}
.zestaw-items > .zestaw-item {
    display: inline-block;
    width: 200px;
    border: 1px solid #ededed;
    padding: 10px 0 10px 5px;
    margin: 10px 5px 0;
    border-radius: 5px;
    position: relative;
}
.zestaw-items > .zestaw-item > .image{
    display: inline-block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    vertical-align: middle;
}
.zestaw-items > .zestaw-item > .image img {
    border-radius: 5px;
}
.zestaw-items > .zestaw-item > .name{
    display: inline-block;
    width: calc(100% - 65px);
    vertical-align: middle;
    max-height: 56px;
    line-height: normal;
    padding-left: 5px;
    overflow: hidden;
    font-size: 13px;
    color: #063f69;
    font-weight: 500;
}
.zestaw-items > .zestaw-item > .price{
    background: #2678b4;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 -10px -5px;
    text-align: center;
    border-radius: 0 0 5px 5px;
}
.zestaw-items > .zestaw-item + .zestaw-item{
    margin-left: 20px;
}
.zestaw-items > .zestaw-item + .zestaw-item:before{
    display: inline-block;
    vertical-align: middle;
    content: '+';
    font-size: 30px;
    font-weight: 700;
    color: #89d3ef;
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
}
.add-to-cart.zestaw-button {
    font-size: 18px;
    font-weight: 400;
    padding: 2px 5px;
}

.add-to-cart.zestaw-button:after{
    content: '';
    background: url(/img/cart_ico_2.png) no-repeat center center transparent;
    width: 20px;
    height: 16px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    margin-left: 5px;
}
.add-to-cart.zestaw-button:hover:after{
    background-image:url(/img/cart_ico_2_hover_2.png);
}
.towar_view .add-to-cart.zestaw-button > i{
    margin-left: 0;
    display: none;
}
.towar_view .add-to-cart.zestaw-button > i:before {
    font-size: 16px;
}
.towar_view .add-to-cart.zestaw-button > i:after{
    width: 7px;
    height: 7px;
    line-height: 7px;
    font-size: 9px;
}
.zestaw-cena {
    font-size: 30px;
    font-weight: 700;
    color: #89d3ef;
    min-width: 140px;
    text-align: right;
    position: relative;
    margin-bottom: 16px;
    line-height: normal;
}
.zestaw-cena:before{
    display: inline-block;
    vertical-align: middle;
    content: '=';
    font-size: 30px;
    font-weight: 700;
    color: #89d3ef;
    position: absolute;
    top: 50%;
    right: calc(100% + 5px);
    transform: translateY(-50%);
}
.zestaw-cena-old {
    font-size: 18px;
    color: #919191;
    text-align: right;
    font-weight: 500;
    text-decoration: line-through;
}
.zestaw.zestaw-list-item {
    background: #f7f7f7;
    padding: 15px 15px 10px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #ecebeb;
    display: inline-block;
    position: relative;
    height: 100%;
}
.zestaw.zestaw-list-item .zestaw-items > .zestaw-item{
    background: #ffffff;
}
.zestaw.zestaw-list-item .zestaw-cena:before{
    display: none;
}
.zestaw.zestaw-list-item .zestaw_podsumowanie{
    display: block;
    margin: 0;
}
.zestaw.zestaw-list-item .zestaw_podsumowanie > *{
    display: inline-block;
    vertical-align: bottom;
}
.zestaw.zestaw-list-item .zestaw_podsumowanie .zestaw-ceny{
    width: calc(100% - 200px);
}
.zestaw.zestaw-list-item .zestaw_podsumowanie .zestaw-button{
    width: 200px;
    text-align: right;
    padding-bottom: 5px;
}
.zestaw.zestaw-list-item .zestaw_podsumowanie .zestaw-cena-old{
    text-align: left;
    margin-top: 5px;
}
.zestaw.zestaw-list-item .zestaw_podsumowanie .zestaw-cena{
    margin-bottom: 0;
    text-align: left;
}
.zestaw.zestaw-list-item .zestaw_podsumowanie .add-to-cart.zestaw-button {
    font-size: 28px;
    font-weight: 500;
    padding: 5px 5px 2px;
    text-align: center;
}