<div class="row justify-content-start mb-20">
    <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <h4 class="card-header fs-14 fw-semi-bold">
                        <?= $this->Translation->get('uzytkownik.twojeFaktury') ?>
                    </h4>
                    <div class="card-body card-body-bordred">
                    <?php 
                        if (!empty($faktury) && $faktury->count()>0) {
                            
                        }
                    else{
                        echo $this->Html->tag('div',t('uzytkownik.nieZnalezionoFaktur',[],true));
                    }
                    ?>
                    </div>
                </div>
            </div>
</div>