svg {
    max-width:100%;
    max-height:100%;
}
svg path {
    cursor:pointer;
}
svg text {
   cursor:pointer;
}

.container {
    padding:20px;
}

.map-cnt {
    width:100%;
    position: relative;
    box-sizing:border-box;
    padding:0;
    max-width: 440px;
    margin: 0 auto;
}
.map-cnt .loading {    
    background:url(ajax-loader.gif) center center no-repeat;
    width:22px; 
    height:22px;
    display: block;
    position: absolute;
    right:0;
    top:0;    
    z-index: 100;    
    overflow: hidden;
    text-indent:-999px;
}


.map-data {
    box-sizing:border-box;
    float:left;
    width:50%;
    padding:20px;
}
@media screen and (max-width:830px) {
    .map-cnt {float:none;}
    .map-data {
        margin-top:30px; 
        float:none;
    }
}
.map-data {
    position: relative;
    padding-top:30px;
}
.map-data h3 {
    font-size:16px;
    margin-bottom:20px;
}
.map-data div {
    font-size:14px;
    color:#777;
    font-weight:normal;
    margin-bottom:20px;
}
.map-data div strong {
    font-weight:normal;
}
.map-data div span {
    color:#333;
    font-weight:bold;
}