<div class="html-content"><div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Karty porarunkowe</h1>
      <p>Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach Informacje o kartach </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Wybierz kartę</h3>
    </div>
  </div>
</div></div>[%-_karty-podarunkowe-lista_-%]