<div class="html-content">
    <div class="container">
  	<div class="row">
    	<div class="col-12 text-center"><img src="/files/my_files/dlaczego_my_img.jpg"></div>
	</div>
	<div class="row mt-50">
    	<div class="col-12">
      		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a euismod nisi. Nulla arcu elit, fringilla sed porttitor nec, tempor sed odio. Donec a accumsan odio. Etiam commodo nisl purus, id porttitor orci consequat ac. Nunc venenatis dictum molestie. Pellentesque sit amet iaculis tellus. Etiam a mauris varius, suscipit risus sit amet, ultricies ipsum. Pellentesque ut interdum tortor. Ut vel ligula iaculis, sagittis nunc a, varius risus. In felis lacus, feugiat vitae mollis non, tristique quis quam. Pellentesque scelerisque ante eros, at auctor odio aliquam et. Duis eu tortor ut turpis dignissim interdum ut a turpis. Mauris vehicula non tortor semper pellentesque. Nunc convallis aliquam ipsum, ac consequat risus pharetra et.</p><p>Nullam sit amet justo rhoncus, mollis dui sed, laoreet urna. Aliquam blandit eros non tincidunt molestie. Fusce tincidunt ante a ornare convallis. Aenean lobortis finibus ipsum, sed fringilla turpis sagittis ut. Cras laoreet venenatis dignissim. Etiam hendrerit, sapien sodales aliquet fermentum, nunc risus auctor ex, sed congue est est sed leo. Curabitur fringilla, eros sit amet volutpat placerat, ipsum justo interdum arcu, nec fermentum sem velit sit amet lorem.</p><p>Sed volutpat elit sit amet auctor elementum. Proin malesuada sapien purus, sit amet tempor tellus dignissim a. Praesent in condimentum metus. In id elementum nisl. Fusce est nisi, condimentum nec pretium et, dapibus nec massa. Nullam rutrum, massa vitae lobortis suscipit, urna nulla ornare elit, viverra eleifend magna erat sit amet eros. Fusce dapibus a augue et efficitur. Vestibulum molestie dui et sapien efficitur cursus. Pellentesque ut turpis odio. Duis risus mauris, elementum a lacus sit amet, tincidunt dapibus est. Phasellus posuere lacinia mauris, eu aliquam libero bibendum non. Donec quis enim magna. Maecenas congue, nulla at hendrerit hendrerit, diam enim facilisis nisi, feugiat gravida nisi neque non orci. Donec non quam hendrerit, ornare lectus ac, ultricies enim. Nulla non metus rhoncus, commodo est ut, hendrerit lorem.</p><p>Fusce cursus volutpat arcu, quis tempus sapien blandit vitae. Duis nisi ligula, tristique faucibus eros vel, accumsan consectetur leo. Mauris ac faucibus tortor. Nullam aliquam efficitur varius. Morbi laoreet feugiat dui sed lobortis. Donec nec diam feugiat, vehicula libero eleifend, vehicula sapien. Nulla facilisi.</p>
    	</div>
	</div>
	</div>
</div>[%-_blok_5_-%]<div class="html-content"><p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b> </p><ul><li>Integer a euismod nisi. Nulla arcu elit, fringilla sed porttitor nec, </li><li>tempor sed odio. Donec a accumsan odio. Etiam commodo nisl</li><li> purus, id porttitor orci consequat ac. Nunc venenatis dictum</li><li> molestie. Pellentesque sit amet iaculis tellus. Etiam a mauris varius, </li><li>suscipit risus sit amet, ultricies ipsum.</li><li> Pellentesque ut interdum tortor. Ut vel ligula iaculis, sagittis nunc</li><li> a, varius risus. In felis lacus, feugiat vitae mollis non, tristique quis quam.</li><li> Pellentesque scelerisque ante eros, at auctor odio aliquam et.</li></ul><p><b>Duis eu tortor ut turpis dignissim interdum ut a turpis. Mauris vehicula non tortor semper pellentesque. Nunc convallis aliquam ipsum, ac consequat risus pharetra et.</b><br></p></div>