<footer>
        <div class="container-fluid footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <?=$this->element('default/newsletter_form')?>
                    </div>
                </div>
            </div>
        </div>
</footer>