<div class="container nav-top">
    <div class="row align-items-center">
        <div class="col-md-12 nav-top-brand">
            <a><img src="<?= $displayPath['webroot'] ?>img/logo_lp.png"/></a>
        </div>
    </div>
</div>