<?php if(!empty($crumbs)){ ?>
<div class="container-fluid breadcrumb-container">
    <div class="row">
        <div class="col-12">
      <?= $this->Navi->breadcrumb($crumbs); ?>
        </div>
    </div>
</div>
<?php } ?>