<div class="col-6 col-md col-lg homeCategoryItem">
    <a href="<?= $link ?>" class="name">
        <?php if (!empty($ikona)) {
            ?>
            <img src="<?= $ikona ?>"/>
            <?php }
        ?>
        <span><?= $nazwa ?></span>
    </a>
</div>