<a class="bar-kategoria-item" href="<?= \Cake\Routing\Router::url(['controller'=>'Towar','action'=>'index','type'=>$gatunek->id])?>" title="<?=$gatunek->nazwa?>">
    <div class="octagonWrap small" >
        <div class="octagon3 img-background" style="background-image: url('<?=$displayPath['gatunek'].$gatunek->zdjecie?>');">
            <div class="caption">
                <span><?=(!empty($gatunek->nazwa_2)?$gatunek->nazwa_2:$gatunek->nazwa)?></span>
            </div>
        </div>
    </div>
    </a>

