<div class="preordersHead-container">
    <div class="row">
    <div class="col-12">
        <div class="preordersHead-line"><span><?=$this->Translation->get('preordery.Preordery')?></span></div>
    </div>
    </div>
    <div class="row preordersHead">
        <img src="/img/preorders.png" alt="<?=$this->Translation->get('preordery.Preordery')?>"/>
    <div class="col-12">
        <div class="preordersHead-info"><div><h1><?=$this->Translation->get('preordery.preorderyInfo')?></h1></div></div>
    </div>
    </div>
</div>

