<div class="strefa-container">
    <div class="row">
    <div class="col-12">
        <div class="strefa-line"><span><?=$this->Translation->get('strefaOkazji.strefaOkazji')?></span></div>
    </div>
    </div>
    <div class="row strefa">
        <img src="/img/strefa.png" alt="<?=$this->Translation->get('strefaOkazji.strefaOkazji')?>"/>
    <div class="col-12">
        <div class="strefa-info"><div><h1><?=$this->Translation->get('strefaOkazji.strefaOkazjiInfo')?></h1></div></div>
    </div>
    </div>
</div>

