<?= $this->Form->create(null, ['class' => 'home-search row justify-content-between', 'url' => ['controller' => 'Towar', 'action' => 'index']]) ?>
<?= $this->Form->control('kategoria._ids', ['type' => 'select', 'multiple' => true, 'empty' => false, 'value' => '', 'multi-select' => 'true', 'max-count' => 1, 'placeholder' => 'Kategoria', 'options' => $searchKat, 'label' => false, 'templates' => ['inputContainer' => '<div class="form-group with-arrow col-12 col-md-auto col-xxl-3 order-0 {{type}}{{required}}">{{content}}</div>']]) ?>
<?= $this->Form->control('plec', ['type' => 'radio', 'options' => ['boy' => 'Chłopczyk', 'girl' => 'Dziewczynka'], 'label' => false, 'templates' => ['nestingLabel' => '{{hidden}}<div class="radio-item">{{input}}<label{{attrs}}>{{text}}</label></div>', 'inputContainer' => '<div class="form-group with-arrow col-auto col-md-auto col-xxl-auto order-2 order-md-1 {{type}}{{required}}">{{content}}</div>']]) ?>
<?= $this->Form->control('wiek', ['type' => 'radio', 'options' => $wiek, 'label' => false, 'templates' => ['nestingLabel' => '{{hidden}}<div class="radio-item">{{input}}<label{{attrs}}>{{text}}</label></div>', 'inputContainer' => '<div class="form-group col-12 col-md order-1 order-md-auto {{type}}{{required}}">{{content}}</div>']]) ?>
<div class="col-auto col-xxl-2 order-3"><button type="submit"><img src="/img/lupa.png"/></button></div>
<?= $this->Form->end() ?>