<div class="head-opis"><?=$this->Translation->get('towar_view.CechyProduktu')?></div>
<table class="table opis-cechy-table">
<?php
foreach ($params as $paramName => $paramValaue){
    ?>
    <tr><td><?= $paramName ?></td><td><?= (is_array($paramValaue) ? join(', ', $paramValaue) : $paramValaue) ?></td></tr>
                        <?php
}
?>
</table>