<select parent="<?=$parent?>" class="allegro-category-select" key="<?=(!empty($key)?$key:0)?>">
    <option value=""><?=$this->Txt->printAdmin(__('Admin | Wybierz kategorię'))?></option>
    <?= join('', $options)?>
</select>