<?php
/**
  * @var \App\View\AppView $this
  */
?>

<div class="row">
    <div class="col-lg-12">
        <div class="x_panel">
                <?= $this->Form->create($punktyOdbioru) ?>
            <div class="x_title">
                    <h2><?=$this->Txt->printAdmin(__('Admin | Edit {0}',[__('Admin | Punkty Odbioru')]))?></h2>
                    <ul class="nav navbar-right panel_toolbox">
                                <li><?= $this->Html->link(
                $this->Html->Tag('i','',['class'=>'fa fa-trash']).' '.$this->Txt->printAdmin(__('Admin | Usuń')),
                ['action' => 'delete', $punktyOdbioru->id],
                ['confirm-btn-yes'=>$this->Txt->printAdmin(__('Admin | Tak')),'confirm-btn-no'=>$this->Txt->printAdmin(__('Admin | Nie')),'confirm-message' => $this->Txt->printAdmin(__('Admin | Are you sure you want to delete # {0}?', $punktyOdbioru->id)),'class'=>'btn btn-xs btn-danger confirm-link','escape'=>false]
            )?></li>
                      <li><?= $this->Html->link($this->Txt->printAdmin('<i class="fa fa-chevron-left"></i> '.__('Admin | Wróć do {0}',[__('Admin | Listy')])), ['action' => 'index'],['escape'=>false,'class'=>'btn btn-xs btn-warning']) ?></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
            <div class="x_content">
    <fieldset>
                    <?php
                    $lngInputs = [];
                    $lngInputs['nazwa'] = ['label' => $this->Txt->printAdmin(__('Admin | Nazwa - {0}'))];
                    $lngInputs['adres'] = ['label' => $this->Txt->printAdmin(__('Admin | Adres - {0}'))];
                    $lngInputs['info'] = ['label' => $this->Txt->printAdmin(__('Admin | Informacje - {0}')), 'summernote' => 'true'];
                    echo $this->Translation->inputs($this->Form, $languages, $lngInputs);
                    echo $this->Form->control('email', ['label' => $this->Txt->printAdmin(__('Admin | Email'))]);
                    echo $this->Form->control('telefon', ['label' => $this->Txt->printAdmin(__('Admin | Telefon'))]);
                    echo $this->Form->control('mapa', ['type' => 'textarea', 'label' => $this->Txt->printAdmin(__('Admin | Mapa'))]);
                    echo $this->Form->control('wysylka._ids', ['options' => $wysylka, 'multiple' => 'checkbox', 'label' => $this->Txt->printAdmin(__('Admin | Powiązane rodzaje wysyłki'))]);
                    echo $this->Form->control('aktywny', ['label' => $this->Txt->printAdmin(__('Admin | Aktywny'))]);
                    ?>
                </fieldset>
            </div>
            <div class="x_footer text-right">
    <?= $this->Form->button($this->Txt->printAdmin(__('Admin | Zapisz')),['class'=>'btn btn-sm btn-success']) ?>
            </div>
            <?= $this->Form->end() ?>
        </div>
    </div>
</div>
