<iframe src="<?= Cake\Routing\Router::url(['controller'=>'Home','action'=>'bannerPreview',$slide->banner_id,$slide->id,'prefix'=>false])?>" class="slidePreview"></iframe>
<?php /*<img src="<?= Cake\Routing\Router::url(['controller'=>'Banner','action'=>'slideToImg',$slide->id])?>"/>*/?>