<div class="modal fade modalRemoveOnHide" id="inpost-modal" tabindex="-1" role="dialog" aria-labelledby="inpost-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="easypack-map"></div>
    </div>
  </div>
</div>