.star{
    font-size: 17px;
    color: #d0d0d0;
    text-shadow: none; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    margin: 0 2px;
}
.star.active{
    color: #fff727;
    background: #fff727;
    text-shadow: none; /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.opinie-content .opinie-header{
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}
.opinie-content .opinie-header > div{
        display: inline-block;
    vertical-align: middle;
    font-size: 36px;
    color: #5d5d5d;
    font-weight: 700;
}
.opinie-content > div:first-child > div{
    display: inline-block;
}
.opinie-content .ocena{
    margin-bottom: 5px;
}
.opinie-content .ocena > div{
    display: inline-block;
    vertical-align: middle;
}
.opinie-content .ocena > div.opinia-autor{
    margin-right: 1%;
    font-size: 14px;
    color: #8d8d8d;
    
}
.opinie-content .ocena > div.opinia-stars .star{
    font-size: 12px;
}
.opinie-content .opinia{
        margin-bottom: 10px;
    background: transparent;
    padding: 0 0 5px;
    font-size: 14px;
    font-weight: 400;
    color: #8d8d8d;
    border-bottom: 1px solid #f8a14d;
}
form#nowa_opinia {
    margin-top: 15px;
}
form#nowa_opinia .form-group{
    vertical-align: top;
}
form#nowa_opinia .form-group label{
    font-size: 16px;
    color: #686868;
    font-weight: normal;
    margin-right: 10px;
    margin-bottom: 0;
}
form#nowa_opinia .form-group > *{
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 16px;
    color: #686868;
}
form#nowa_opinia .form-group.textarea > *{
    vertical-align: top;
}
form#nowa_opinia .form-group input.form-control,form#nowa_opinia .form-group textarea.form-control{
    border-radius: 0;
    border: 1px solid #c5c5c5;
    background: #ffffff;
    box-shadow: none;
    width: 100%;
    text-transform: none;
}
form#nowa_opinia .form-group input#autor{
    width: 45%;
    margin-right: 0;
}
form#nowa_opinia .form-group #new_stars{
    margin: 0 1%;
    vertical-align: middle;
}
form#nowa_opinia .form-group #new_stars > span{
    cursor: pointer;
}

.opinia-label{
       background: #f1415a;
    color: #ffffff;
    display: inline-block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 15px;
    margin-left: 35px;
    padding: 2px 10px 0;
    vertical-align: middle;
}
.opinia-label + span{
         font-size: 30px;
    font-weight: 700;
    color: #5d5d5d;
    vertical-align: bottom;
    display: inline-block;
    line-height: normal;
    margin-left: 5px;
}
.opinie-head-user{
    font-size: 16px;
    font-weight: 700;
    color: #5d5d5d;
    margin-bottom: 15px;
}
.opinia {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #116baa;
}
.ocena > div {
    display: inline-block;
}
.ocena > div + div {
    margin-left: 15px;
    color: #116baa;
}