    /*
    Flaticon icon font: Flaticon
    Creation date: 27/01/2020 08:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-clock:before { content: "\f100"; }
.flaticon-percentage:before { content: "\f101"; }
.flaticon-cart:before { content: "\f102"; }
.flaticon-whatsapp-logo-variant:before { content: "\f103"; }
.flaticon-email:before { content: "\f104"; }
.flaticon-cart-1:before { content: "\f105"; }
.flaticon-heart:before { content: "\f106"; }
.flaticon-user:before { content: "\f107"; }
.flaticon-search:before { content: "\f108"; }
.flaticon-search-1:before { content: "\f109"; }
.flaticon-search-2:before { content: "\f10a"; }
.flaticon-airplane:before { content: "\f10b"; }
.flaticon-departures:before { content: "\f10c"; }
.flaticon-plane:before { content: "\f10d"; }
.flaticon-percentage-1:before { content: "\f10e"; }
.flaticon-commerce-and-shopping:before { content: "\f10f"; }
.flaticon-tag-black-shape:before { content: "\f110"; }
.flaticon-label:before { content: "\f111"; }
.flaticon-tag:before { content: "\f112"; }
.flaticon-tag-1:before { content: "\f113"; }
.flaticon-percentage-discount:before { content: "\f114"; }
.flaticon-mail:before { content: "\f115"; }
.flaticon-send:before { content: "\f116"; }
.flaticon-call-center-worker-with-headset:before { content: "\f117"; }
.flaticon-woman-with-headset:before { content: "\f118"; }
.flaticon-info:before { content: "\f119"; }
.flaticon-info-circle:before { content: "\f11a"; }
.flaticon-chat:before { content: "\f11b"; }
.flaticon-right-chevron:before { content: "\f11c"; }
.flaticon-right-thin-chevron:before { content: "\f11d"; }
.flaticon-chevron-pointing-to-the-left:before { content: "\f11e"; }
.flaticon-telephone:before { content: "\f11f"; }
.flaticon-chevron:before { content: "\f120"; }
.flaticon-down:before { content: "\f121"; }
.flaticon-chevron-1:before { content: "\f122"; }
.flaticon-down-arrow:before { content: "\f123"; }
.flaticon-descendant-arrow-angle:before { content: "\f124"; }
.flaticon-play:before { content: "\f125"; }
.flaticon-next:before { content: "\f126"; }
.flaticon-next-1:before { content: "\f127"; }
.flaticon-blog:before { content: "\f128"; }
.flaticon-boy-broad-smile:before { content: "\f129"; }
.flaticon-smiling-girl:before { content: "\f12a"; }
.flaticon-up-arrow:before { content: "\f12b"; }
.flaticon-down-chevron:before { content: "\f12c"; }
.flaticon-delivery-truck:before { content: "\f12d"; }
.flaticon-favorite-heart-button:before { content: "\f12e"; }
.flaticon-print:before { content: "\f12f"; }
.flaticon-like:before { content: "\f130"; }
.flaticon-percent:before { content: "\f131"; }
.flaticon-gift:before { content: "\f132"; }
.flaticon-power:before { content: "\f133"; }
.flaticon-business-and-finance:before { content: "\f134"; }
.flaticon-placeholder:before { content: "\f135"; }
.flaticon-area:before { content: "\f136"; }
.flaticon-question:before { content: "\f137"; }
.flaticon-question-1:before { content: "\f138"; }
.flaticon-ban-circle-symbol:before { content: "\f139"; }
.flaticon-label-commercial-circular-filled-tool:before { content: "\f13a"; }
.flaticon-left-direction-arrow:before { content: "\f13b"; }
.flaticon-down-chevron-1:before { content: "\f13c"; }
.flaticon-return-arrow:before { content: "\f13d"; }
.flaticon-tick:before { content: "\f13e"; }
.flaticon-check-mark:before { content: "\f13f"; }
.flaticon-draw-check-mark:before { content: "\f140"; }
.flaticon-chat-1:before { content: "\f141"; }
.flaticon-chat-bubbles-with-ellipsis:before { content: "\f142"; }
.flaticon-help:before { content: "\f143"; }
.flaticon-text:before { content: "\f144"; }
.flaticon-talk:before { content: "\f145"; }
.flaticon-chat-bubbles-with-ellipsis-1:before { content: "\f146"; }
.flaticon-pass:before { content: "\f147"; }
.flaticon-clock-1:before { content: "\f148"; }
.flaticon-clock-2:before { content: "\f149"; }
.flaticon-call:before { content: "\f14a"; }
.flaticon-phone:before { content: "\f14b"; }
.flaticon-phone-call:before { content: "\f14c"; }
.flaticon-send-1:before { content: "\f14d"; }
.flaticon-sports-and-competition:before { content: "\f14e"; }
.flaticon-heart-1:before { content: "\f14f"; }
.flaticon-fingerprint-heart-shape:before { content: "\f150"; }
.flaticon-heart-2:before { content: "\f151"; }
    
    $font-Flaticon-clock: "\f100";
    $font-Flaticon-percentage: "\f101";
    $font-Flaticon-cart: "\f102";
    $font-Flaticon-whatsapp-logo-variant: "\f103";
    $font-Flaticon-email: "\f104";
    $font-Flaticon-cart-1: "\f105";
    $font-Flaticon-heart: "\f106";
    $font-Flaticon-user: "\f107";
    $font-Flaticon-search: "\f108";
    $font-Flaticon-search-1: "\f109";
    $font-Flaticon-search-2: "\f10a";
    $font-Flaticon-airplane: "\f10b";
    $font-Flaticon-departures: "\f10c";
    $font-Flaticon-plane: "\f10d";
    $font-Flaticon-percentage-1: "\f10e";
    $font-Flaticon-commerce-and-shopping: "\f10f";
    $font-Flaticon-tag-black-shape: "\f110";
    $font-Flaticon-label: "\f111";
    $font-Flaticon-tag: "\f112";
    $font-Flaticon-tag-1: "\f113";
    $font-Flaticon-percentage-discount: "\f114";
    $font-Flaticon-mail: "\f115";
    $font-Flaticon-send: "\f116";
    $font-Flaticon-call-center-worker-with-headset: "\f117";
    $font-Flaticon-woman-with-headset: "\f118";
    $font-Flaticon-info: "\f119";
    $font-Flaticon-info-circle: "\f11a";
    $font-Flaticon-chat: "\f11b";
    $font-Flaticon-right-chevron: "\f11c";
    $font-Flaticon-right-thin-chevron: "\f11d";
    $font-Flaticon-chevron-pointing-to-the-left: "\f11e";
    $font-Flaticon-telephone: "\f11f";
    $font-Flaticon-chevron: "\f120";
    $font-Flaticon-down: "\f121";
    $font-Flaticon-chevron-1: "\f122";
    $font-Flaticon-down-arrow: "\f123";
    $font-Flaticon-descendant-arrow-angle: "\f124";
    $font-Flaticon-play: "\f125";
    $font-Flaticon-next: "\f126";
    $font-Flaticon-next-1: "\f127";
    $font-Flaticon-blog: "\f128";
    $font-Flaticon-boy-broad-smile: "\f129";
    $font-Flaticon-smiling-girl: "\f12a";
    $font-Flaticon-up-arrow: "\f12b";
    $font-Flaticon-down-chevron: "\f12c";
    $font-Flaticon-delivery-truck: "\f12d";
    $font-Flaticon-favorite-heart-button: "\f12e";
    $font-Flaticon-print: "\f12f";
    $font-Flaticon-like: "\f130";
    $font-Flaticon-percent: "\f131";
    $font-Flaticon-gift: "\f132";
    $font-Flaticon-power: "\f133";
    $font-Flaticon-business-and-finance: "\f134";
    $font-Flaticon-placeholder: "\f135";
    $font-Flaticon-area: "\f136";
    $font-Flaticon-question: "\f137";
    $font-Flaticon-question-1: "\f138";
    $font-Flaticon-ban-circle-symbol: "\f139";
    $font-Flaticon-label-commercial-circular-filled-tool: "\f13a";
    $font-Flaticon-left-direction-arrow: "\f13b";
    $font-Flaticon-down-chevron-1: "\f13c";
    $font-Flaticon-return-arrow: "\f13d";
    $font-Flaticon-tick: "\f13e";
    $font-Flaticon-check-mark: "\f13f";
    $font-Flaticon-draw-check-mark: "\f140";
    $font-Flaticon-chat-1: "\f141";
    $font-Flaticon-chat-bubbles-with-ellipsis: "\f142";
    $font-Flaticon-help: "\f143";
    $font-Flaticon-text: "\f144";
    $font-Flaticon-talk: "\f145";
    $font-Flaticon-chat-bubbles-with-ellipsis-1: "\f146";
    $font-Flaticon-pass: "\f147";
    $font-Flaticon-clock-1: "\f148";
    $font-Flaticon-clock-2: "\f149";
    $font-Flaticon-call: "\f14a";
    $font-Flaticon-phone: "\f14b";
    $font-Flaticon-phone-call: "\f14c";
    $font-Flaticon-send-1: "\f14d";
    $font-Flaticon-sports-and-competition: "\f14e";
    $font-Flaticon-heart-1: "\f14f";
    $font-Flaticon-fingerprint-heart-shape: "\f150";
    $font-Flaticon-heart-2: "\f151";