	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/01/2020 08:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-clock:before { content: "\f100"; }
.flaticon-percentage:before { content: "\f101"; }
.flaticon-cart:before { content: "\f102"; }
.flaticon-whatsapp-logo-variant:before { content: "\f103"; }
.flaticon-email:before { content: "\f104"; }
.flaticon-cart-1:before { content: "\f105"; }
.flaticon-heart:before { content: "\f106"; }
.flaticon-user:before { content: "\f107"; }
.flaticon-search:before { content: "\f108"; }
.flaticon-search-1:before { content: "\f109"; }
.flaticon-search-2:before { content: "\f10a"; }
.flaticon-airplane:before { content: "\f10b"; }
.flaticon-departures:before { content: "\f10c"; }
.flaticon-plane:before { content: "\f10d"; }
.flaticon-percentage-1:before { content: "\f10e"; }
.flaticon-commerce-and-shopping:before { content: "\f10f"; }
.flaticon-tag-black-shape:before { content: "\f110"; }
.flaticon-label:before { content: "\f111"; }
.flaticon-tag:before { content: "\f112"; }
.flaticon-tag-1:before { content: "\f113"; }
.flaticon-percentage-discount:before { content: "\f114"; }
.flaticon-mail:before { content: "\f115"; }
.flaticon-send:before { content: "\f116"; }
.flaticon-call-center-worker-with-headset:before { content: "\f117"; }
.flaticon-woman-with-headset:before { content: "\f118"; }
.flaticon-info:before { content: "\f119"; }
.flaticon-info-circle:before { content: "\f11a"; }
.flaticon-chat:before { content: "\f11b"; }
.flaticon-right-chevron:before { content: "\f11c"; }
.flaticon-right-thin-chevron:before { content: "\f11d"; }
.flaticon-chevron-pointing-to-the-left:before { content: "\f11e"; }
.flaticon-telephone:before { content: "\f11f"; }
.flaticon-chevron:before { content: "\f120"; }
.flaticon-down:before { content: "\f121"; }
.flaticon-chevron-1:before { content: "\f122"; }
.flaticon-down-arrow:before { content: "\f123"; }
.flaticon-descendant-arrow-angle:before { content: "\f124"; }
.flaticon-play:before { content: "\f125"; }
.flaticon-next:before { content: "\f126"; }
.flaticon-next-1:before { content: "\f127"; }
.flaticon-blog:before { content: "\f128"; }
.flaticon-boy-broad-smile:before { content: "\f129"; }
.flaticon-smiling-girl:before { content: "\f12a"; }
.flaticon-up-arrow:before { content: "\f12b"; }
.flaticon-down-chevron:before { content: "\f12c"; }
.flaticon-delivery-truck:before { content: "\f12d"; }
.flaticon-favorite-heart-button:before { content: "\f12e"; }
.flaticon-print:before { content: "\f12f"; }
.flaticon-like:before { content: "\f130"; }
.flaticon-percent:before { content: "\f131"; }
.flaticon-gift:before { content: "\f132"; }
.flaticon-power:before { content: "\f133"; }
.flaticon-business-and-finance:before { content: "\f134"; }
.flaticon-placeholder:before { content: "\f135"; }
.flaticon-area:before { content: "\f136"; }
.flaticon-question:before { content: "\f137"; }
.flaticon-question-1:before { content: "\f138"; }
.flaticon-ban-circle-symbol:before { content: "\f139"; }
.flaticon-label-commercial-circular-filled-tool:before { content: "\f13a"; }
.flaticon-left-direction-arrow:before { content: "\f13b"; }
.flaticon-down-chevron-1:before { content: "\f13c"; }
.flaticon-return-arrow:before { content: "\f13d"; }
.flaticon-tick:before { content: "\f13e"; }
.flaticon-check-mark:before { content: "\f13f"; }
.flaticon-draw-check-mark:before { content: "\f140"; }
.flaticon-chat-1:before { content: "\f141"; }
.flaticon-chat-bubbles-with-ellipsis:before { content: "\f142"; }
.flaticon-help:before { content: "\f143"; }
.flaticon-text:before { content: "\f144"; }
.flaticon-talk:before { content: "\f145"; }
.flaticon-chat-bubbles-with-ellipsis-1:before { content: "\f146"; }
.flaticon-pass:before { content: "\f147"; }
.flaticon-clock-1:before { content: "\f148"; }
.flaticon-clock-2:before { content: "\f149"; }
.flaticon-call:before { content: "\f14a"; }
.flaticon-phone:before { content: "\f14b"; }
.flaticon-phone-call:before { content: "\f14c"; }
.flaticon-send-1:before { content: "\f14d"; }
.flaticon-sports-and-competition:before { content: "\f14e"; }
.flaticon-heart-1:before { content: "\f14f"; }
.flaticon-fingerprint-heart-shape:before { content: "\f150"; }
.flaticon-heart-2:before { content: "\f151"; }