.phoneContainer > label{
    display: block;
}
.phoneContainer > div{
    display: inline-block;
        width: calc(100% - 84px);
        vertical-align: bottom;
}
.phoneContainer > div.cuntryPhone {
    position: relative;
    display: inline-block;
    width: 80px;
}
.cuntryPhone > span.cuntryPhoneHolder {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 16px);
    background: #fff;
    pointer-events: none;
    padding: 7px 8px 0 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    font: inherit;
}
.cuntryPhoneHolder:before {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    margin-top: 5px;
}