
.scene {
  border: none;
  margin: 40px 0;
  position: relative;
  width: 33vw;
  max-width: 622px;
  height: 350px;
  margin: 20px auto;
  perspective: 1000px;
}

@media (max-width: 1518px){
    .scene{
  height: 255px;
    }
}
.cl-carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 33vw;
  max-width: 622px;
  height: auto;
  left: 10px;
  top: 10px;
  border: none;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
}
.carousel__cell > img{
    box-shadow: 0 0 3px #000;
}

/*.carousel__cell:nth-child(9n+1) { background: hsla(  0, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+2) { background: hsla( 40, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+3) { background: hsla( 80, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+4) { background: hsla(120, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+5) { background: hsla(160, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+6) { background: hsla(200, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+7) { background: hsla(240, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+8) { background: hsla(280, 100%, 50%, 0.8); }
.carousel__cell:nth-child(9n+0) { background: hsla(320, 100%, 50%, 0.8); }*/

.carousel__cell:nth-child(1) { transform: rotateY(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateY( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateY( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateY(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateY(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(288px); }



.carousel-options {
  text-align: center;
  position: absolute;
  z-index: 2;
  background: transparent;
  width: calc(100% - 20px);
    top: 50%;
    transform: translateY(-50%);
}

.carousel-options button{
    position: absolute;
    left: 0;
}
.carousel-options button{
    position: absolute;
    left: 0;
}
.carousel-options button.next-button{
    left: auto;
    right: -15px;
}