<?php 
if(!empty($oferta)){
    ?><pre><?php
    print_r($oferta);
    ?></pre><?php
}else {
?>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Sprzedano</th>
        </tr>
    </thead>
    <tbody>
<?php 
if(!empty($oferty) && key_exists('offers', $oferty)){
    foreach ($oferty['offers'] as $oferta){
        ?>
<tr>
    <td><?=$this->Html->link($oferta['id'],['action'=>'getOffers',1,$oferta['id']])?></td>
    <td><?=$oferta['name']?></td>
    <td><?=$oferta['stock']['sold']?></td>
</tr>
<?php
    }
}
?>
    </tbody>
</table>
<?php }