<div class="tip-head">
    <?=$this->Txt->printAdmin(__('Tips | Jak tworzyć newslettery.'),'Tips | ')?>
</div>
<div class="tip-content">
    <p>
        <?=$this->Txt->printAdmin(__('Tips | Stworzenie newslettera jest bardzo proste. Przechodząc na {0} należy dodać nowy newsletter. Newslettery towrzy się w formie HTML.',[$this->Html->link(__('Tpis | listę newsletterów'),['controller'=>'NewsletterAdres','action'=>'index'])]),'Tips | ')?>
        </p>
</div>