<div class="tip-head">
    <?=$this->Txt->printAdmin(__('Tips | Szablony email.'),'Tips | ')?>
</div>
<div class="tip-content">
    <p>
        <?=$this->Txt->printAdmin(__('Tips | Są to szablony emaili które są wysyłane do użytkowników strony.'),'Tips | ')?>
        </p>
</div>