<div class="container mt-50">
    <div class="row">
        <div class="col-lg-12">
            <?= $this->Translation->get('loginPage.registerSuccessInfo',[],true) ?>
        </div>
    </div>
</div>