<div style="text-align:right; margin-bottom:20px;">
    Miejsce wystawienia: [%miejsce-wystawienia%]<br/>
    Data wystawienia: [%data-wystawienia%]<br/>
    Data sprzedaży: [%data-sprzedazy%]<br/>
    Termin płatności: [%termin-platnosci%]
</div>
<table style="width:100%;table-layout: fixed;">
    <tbody>
        <tr>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Sprzedawca</th>
            <th style="width:100px;"></th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Nabywca</th>
        </tr>
        <tr>
            <td>[%dane-sklepu%]</td>
            <td></td>
            <td>[%dane-klienta%]</td>
        </tr>
    </tbody>
</table>
<table style="width:100%;table-layout: fixed;">
    <tbody>
        <tr>
            <td style="text-align:center;">Faktura numer [%numer%]<br/>[%podtytul%]</td>
        </tr>
    </tbody>
</table>
[%towary%]
<table style="width:100%;">
    <tbody>
        <tr>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Lp</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Nazwa</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Ilość</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">j.m.</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">VAT [%]</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Cena jednostkowa brutto</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Wartość netto</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;">Wartość VAT</th>
            <th style="padding: 5px; border:1px solid #353535; color: #ffffff; background:#353535;text-align: center;">Wartość brutto</th>
        </tr>
        <tr>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-lp%]</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-nazwa%]&nbsp;</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-ilosc%]</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-jednostka%]</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-vat%]</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-cena-brutto%]</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-wartosc-netto%]</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-wartosc-vat%]</td>
            <td style="padding: 5px; border:1px solid #353535; background-color: #ffffff; color: #000000;">[%t-wartosc-brutto%]</td>
        </tr>
    </tbody>
</table>
[%/towary%]
<div style="margin-top:20px; text-align:right;">
    Rodzaj płatności: [%rodaj-platnosci%]<br/>
    Razem do zapłaty: [%wartosc-faktury%]
</div>