    /*
    Flaticon icon font: Flaticon
    Creation date: 16/03/2020 11:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bear:before { content: "\f100"; }
.flaticon-battery:before { content: "\f101"; }
.flaticon-paint:before { content: "\f102"; }
.flaticon-toy:before { content: "\f103"; }
.flaticon-drone:before { content: "\f104"; }
.flaticon-guitar:before { content: "\f105"; }
.flaticon-school:before { content: "\f106"; }
.flaticon-gift:before { content: "\f107"; }
.flaticon-beach:before { content: "\f108"; }
.flaticon-kid-and-baby:before { content: "\f109"; }
.flaticon-number:before { content: "\f10a"; }
.flaticon-mixer:before { content: "\f10b"; }
.flaticon-vacuum:before { content: "\f10c"; }
.flaticon-market:before { content: "\f10d"; }
.flaticon-furniture-and-household:before { content: "\f10e"; }
.flaticon-chef:before { content: "\f10f"; }
.flaticon-girl:before { content: "\f110"; }
.flaticon-toy-1:before { content: "\f111"; }
.flaticon-discount:before { content: "\f112"; }
    
    $font-Flaticon-bear: "\f100";
    $font-Flaticon-battery: "\f101";
    $font-Flaticon-paint: "\f102";
    $font-Flaticon-toy: "\f103";
    $font-Flaticon-drone: "\f104";
    $font-Flaticon-guitar: "\f105";
    $font-Flaticon-school: "\f106";
    $font-Flaticon-gift: "\f107";
    $font-Flaticon-beach: "\f108";
    $font-Flaticon-kid-and-baby: "\f109";
    $font-Flaticon-number: "\f10a";
    $font-Flaticon-mixer: "\f10b";
    $font-Flaticon-vacuum: "\f10c";
    $font-Flaticon-market: "\f10d";
    $font-Flaticon-furniture-and-household: "\f10e";
    $font-Flaticon-chef: "\f10f";
    $font-Flaticon-girl: "\f110";
    $font-Flaticon-toy-1: "\f111";
    $font-Flaticon-discount: "\f112";