	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/03/2020 11:20
  	*/

@font-face {
  font-family: "FlaticonKat";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "FlaticonKat";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-kat-"]:before, [class*=" flaticon-kat-"]:before,
[class^="flaticon-kat-"]:after, [class*=" flaticon-kat-"]:after {   
  font-family: FlaticonKat;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-kat-bear:before { content: "\f100"; }
.flaticon-kat-battery:before { content: "\f101"; }
.flaticon-kat-paint:before { content: "\f102"; }
.flaticon-kat-toy:before { content: "\f103"; }
.flaticon-kat-drone:before { content: "\f104"; }
.flaticon-kat-guitar:before { content: "\f105"; }
.flaticon-kat-school:before { content: "\f106"; }
.flaticon-kat-gift:before { content: "\f107"; }
.flaticon-kat-beach:before { content: "\f108"; }
.flaticon-kat-kid-and-baby:before { content: "\f109"; }
.flaticon-kat-number:before { content: "\f10a"; }
.flaticon-kat-mixer:before { content: "\f10b"; }
.flaticon-kat-vacuum:before { content: "\f10c"; }
.flaticon-kat-market:before { content: "\f10d"; }
.flaticon-kat-furniture-and-household:before { content: "\f10e"; }
.flaticon-kat-chef:before { content: "\f10f"; }
.flaticon-kat-girl:before { content: "\f110"; }
.flaticon-kat-toy-1:before { content: "\f111"; }
.flaticon-kat-discount:before { content: "\f112"; }